@charset "utf-8";

body {
    background-color: #719FB0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #351F39;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    background-color: #351F39;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #726A95;
  }
